# Segredos e Credenciais (CRÍTICO)
.env
alerts-api/.env

# Logs do Cowrie (Não subir os ataques registrados)
cowrie/var/log/cowrie/*.json
cowrie/var/log/cowrie/*.log
cowrie/var/log/cowrie/tty/

# Dados do banco do Loki (Evitar repositórios gigantes)
loki/chunks/
loki/rules/

# Python
__pycache__/
*.pyc
alerts-api/__pycache__/

# Mac/Linux OS files
.DS_Store